In [113]:
import pandas as pd
import numpy as np
import os

### Read in Data

In [143]:
os.listdir()
df = pd.read_csv('fraud_data.csv')
df.head()

   CUSTOMER_ID X1  X2   X3        X4  Y
0            1  A   2  NaN -0.475639  0
1            2  A   4  NaN -1.716201  0
2            3  A   4  NaN -1.716201  0
3            4  A   5  NaN  0.163438  0
4            5  A   2  NaN -1.001938  0

## QUESTION 1
* Conduct exploratory data analysis on the fraud_data.csv data set and explain whether any customer attributes are associated with fraud. 
* The file contains a list of 50,000 sales and includes a customer ID column, four customer attribute columns (X1-X4), and one column indicating whether the customer committed fraud (fraud occurred when Y=1).

##### Initial Checks

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTOMER_ID  50000 non-null  int64
 1   X1           50000 non-null  object
 2   X2           50000 non-null  int64
 3   X3           662 non-null    object
 4   X4           49991 non-null  float64
 5   Y            50000 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.3+ MB

In [137]:
df.describe()

        CUSTOMER_ID            X2            X4             Y
count  50000.000000  50000.000000  49991.000000  50000.000000
mean   25000.500000      1.779500      0.000011      0.081400
std    14433.901067      0.940584      1.000060      0.273451
min        1.000000      1.000000     -4.347695      0.000000
25%    12500.750000      1.000000     -0.663603      0.000000
50%    25000.500000      2.000000     -0.212489      0.000000
75%    37500.250000      2.000000      0.464181      0.000000
max    50000.000000      5.000000      4.674572      1.000000

In [138]:
df.rename(columns={'Y':'FRAUD_FLAG'}, inplace=True)
fraud_perc = len(df[df['FRAUD_FLAG']==1])/len(df) * 100
print(f'Fraud perc: {fraud_perc}%')

unique_id_perc = len(df['CUSTOMER_ID'].unique())/len(df)* 100
print(f'Unique CUSTOMER_IDs: {unique_id_perc}%\n')

print('** Independent Variables **')

for col in df.columns[1:]:
    x = ','.join(map(repr, df[col].unique()))

    if col not in ('X4', 'FRAUD_FLAG'):
        print(str(col) + ': ' + x)

    elif col=='X4':
        print('X4: is continuous\n')

    else:
        print('** Dependent Variable **')
        print(str(col) + ': ' + x)

Fraud perc: 8.14%
Unique CUSTOMER_IDs: 100.0%

** Independent Variables **
X1: 'A','B'
X2: 2,4,5,1,3
X3: nan,'X',' '
X4: is continuous

** Dependent Variable **
FRAUD_FLAG: 0,1

##### Deal with Nulls

In [144]:
#x4 has 9 nulls so I'm just going to drop them since it's small % of data
print('Number of rows being dropped bc of nulls in X4: ' + str(df['X4'].isnull().sum()))
df.dropna(axis=0, subset=['X4'],inplace=True)
df.reset_index(drop=True,inplace=True)
len(df)

Number of rows being dropped bc of nulls in X4: 9

49991